{% extends "layout.html" %}
{% block content %}
    <!--Home page style-->
<header id="home" class="home">
	<div class="overlay-fluid-block">
		<div class="container text-center">
			<div class="row">
				<div class="home-wrapper">
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							<h1>国内航班数据分析</h1>
							<p>通过统计携程等订票网站的机票信息，得出各个机场所在城市的城市吞吐量，并对各个城市间航线进行分析，比较航空公司的业务占比以及服务水平。可视化票价变化趋势，以及往来航班的票价差，得出最有的航班路线，以航程，飞行时间，服务水平以及总消费综合分析得出最优的出行方案。</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Sections -->
<section id="features" class="features sections">
	<div class="container">
		<div class="row">
			<div class="main_features_content2">

				<div class="col-sm-6">
					<div class="single_features_left text-center">
						<img src="/static/images/feature-2.jpg" alt="" />
					</div>
				</div>

				<div class="col-sm-6 margin-top-60">
					<div class="single_features_right ">
						<h2>模块1</h2>
						<p>简介</p>
						<ul>
							<li>描述</li>
							<li>描述</li>
							<li>描述</li>
						</ul>
						<div class="features_buttom">
							<a href="" class="btn btn-default">详细信息</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section><!--End of Features 2 Section -->
<section id="features" class="features sections">
	<div class="container">
		<div class="row">
			<div class="main_features_content2">



				<div class="col-sm-6 margin-top-60">
					<div class="single_features_right ">
						<h2>模块2</h2>
						<p>简介</p>
						<ul>
							<li>描述</li>
							<li>描述</li>
							<li>描述</li>
						</ul>
						<div class="features_buttom">
							<a href="" class="btn btn-default">详细信息</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="single_features_left text-center">
						<img src="/static/images/feature-1.jpg" alt="" />
					</div>
				</div>

			</div>
		</div>
	</div>
</section><!--End of Features 2 Section -->

<section id="features" class="features sections">
	<div class="container">
		<div class="row">
			<div class="main_features_content2">

				<div class="col-sm-6">
					<div class="single_features_left text-center">
						<img src="/static/images/feature-2.jpg" alt="" />
					</div>
				</div>

				<div class="col-sm-6 margin-top-60">
					<div class="single_features_right ">
						<h2>航空公司模块</h2>
						<p>该模块对航空公司各像数据进行具体分析，通过一下四个维度：</p>
						<ul>
							<li>① 某航空公司的市场业务占比</li>
							<li>② 某航空公司负责航线的显示</li>
							<li>③ 航空公司发行总航班数对比显示</li>
                            <li>④ 航空公司平均准点率对比显示</li>
						</ul>
						<div class="features_buttom">
							<a href="/modular3" class="btn btn-default">详细信息</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
{% endblock %}
